body{
    /* font-family: inter, "Arial Narrow Bold", sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.card{
    width: 42%;
    /* height: 55rem; */
    margin: auto;
    margin-top: 2rem;
    border: none;
    border-radius: 2px;
    box-shadow:0 0 20px 10px #f3f3f3;
    /* display: flex; */
}
.grid{
    display: grid;
}
@media screen and (min-width:768px) {
    .grid--cols-2{
        grid-template-columns: repeat(1, 45% 55%);
    }
}

.container-dark{
    /* width: 48%; */
    background-color: gray;
}
.container-dark__profile{
    position: relative;
}
.container-dark__profile > img{
    width: 70%;
    height: 13rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 3rem;
}


.container-dark__name{
    width: 100%;
    position: absolute;
    color: #fff;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    margin-top: -4.7rem;
    text-transform: uppercase;
}
.container-dark__name h2{
    margin: 1rem auto 0;
    max-width: 70%;
    color: #fff;
}
.container-dark__name p{
    max-width: 70%;
    margin: 1px auto 1rem;
    font-size: 11px;
}



/* Get In Touch */
.container-dark__in-touch{
    /* margin-left: 3rem; */
    margin-left: 1.5rem;
    margin-top: 2rem;
    color: #fff;
}
.container-dark__in-touch h3{
    font-weight: 100;
    font-size: 14px;
}
.container-dark__in-touch p{
    /* font-size: 11px; */
    font-size: 10px;
}

/* Education */
.container-dark__education{
    /* margin-left: 3rem; */
    margin-left: 1.5rem;
    margin-top: 2rem;
    color: #fff;
}
.education{
    margin-bottom: 1rem;
    font-weight: 100;
    font-size: 14px;
}
.education_cs{
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 8px;
    font-size: 10px;
}
.education_uni{
    margin-top: 8px;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.education_para{
    margin-top: 3px;
    font-size: 10px;
    line-height: 1.4;
}

.education_inter{
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 8px;
    font-size: 10px;
}
.education_clg{
    margin-top: 8px;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.education_para{
    margin-top: 3px;
    font-size: 10px;
    line-height: 1.4;
    margin-right: 1.5rem;
}

/* Reference */
.container-dark__reference{
    /* margin-left: 3rem; */
    margin-left: 1.5rem;
    margin-top: 2rem;
    color: #fff;
}
.reference{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 14px;
}
.reference__name{
    margin-top: 8px;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.reference__profession{
    margin-top: 8px;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.reference__company{
    margin-top: 3px;
    font-size: 10px;
    line-height: 1.4;
    margin-bottom: 3px;
}
.reference__email{
    margin-top: 3px;
    font-size: 10px;
    line-height: 1.4;
}


/* 2nd Container  (Container Light) */
.container-light{
    padding: 3rem 2rem;
    /* width: 58%; */
}
/* overview */
.overview{
    margin: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #161515;
    font-weight: 100;

    font-size: 14px;
}
.heading__box{
    background-color: gray;
    height: 6px;
    width: 6px;
    /* margin-left: 2rem; */
    margin-left: 1rem;
}
.heading__line{
    width: 60%;
    background-color: gray;
}
.overview__para{
    /* font-size: 11px; */
    font-size: 10px;
    margin-top: 1rem;
    word-spacing: 5px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: gray;
}
/* Work Experience */
.work_experience{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #161515;
    font-weight: 100;

    font-size: 14px;
}
.experience_heading__line{
    /* width: 34.5%; */
    width: 37.8%;
    background-color: gray;
}
.experience_marketing{
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 8px;
    color: #382e2e;
    /* font-size: 12px; */
    font-size: 9px;

}
.experience_company{
    margin-top: 8px;
    /* font-size: 11px; */
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 3px;
    color: gray;
}
.work_experience__para{
    font-size: 9px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: gray;
    margin-top: 4px;
    margin-bottom: 1rem;
}
/* PRO SKILLS */
.pro-skills,
.per-skills{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #161515;
    font-weight: 100;

    font-size: 11px;
}
.skill_heading__line{
    /* width: 56.5%; */
    width: 58.5%;
    background-color: gray;
}
.pro-skills__flex,
.per-skills__flex{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.pro-skills__name,
.per-skills__name{
    margin: 0;
    font-size: 10px;
    text-transform: uppercase;
    color: gray;
    width: 23%;

    font-size: 7px;
}
.pro-skills__slider,
.per-skills__slider{
    width: 77%;
}
.slider__size{
    width: 100%;
}

/* per Skills */
.per-skill_heading__line{
    width: 59%;
    background-color: gray; 
}
.dark-percentage{
    background-color: #544a4a;
    height: 5px;
}
.light-percentage{
    height: 5px;
    background-color: #cdcdcd;
}



@media screen and (max-width:320px) {
    .card{
        width: 100%;
    }
    .container-dark__name{
        font-size: 11px;
        margin-top: -3.9rem;
    }
    .container-dark__name p{
        font-size: 7px;
    }
    .container-dark__in-touch h3,
    .education,
    .reference,
    .overview,
    .work_experience,
    .pro-skills,
    .per-skills
    {
        font-size: 10px;
    }
    .education_cs,
    .education_uni,
    .education_inter,
    .education_clg,
    .experience_marketing,
    .experience_company,
    .reference__name,
    .reference__profession,
    .education_para,
    .overview__para,
    .work_experience__para,
    .reference__company,
    .reference__email
    {
        font-size: 8px;
    }
    
    .pro-skills__name,
    .per-skills__name{
        font-size: 7px;
        width: 45%;
    }
    .overview .heading__line{
        width: 80%;
    }
    .work_experience .experience_heading__line{
        width: 80%;
    }
    .skill_heading__line{
        width: 80%;
    }
    .per-skill_heading__line{
        width: 80%;
    }
}


@media screen and (max-width:375px) and (min-width:320px) {
    .card{
        width: 88%;
    }
    .container-dark__name{
        font-size: 15px;
        margin-top: -4.55rem;
    }
    .container-dark__name p{
        font-size: 10px;
    }
    .overview .heading__line{
        width: 70%;
    }
    .work_experience .experience_heading__line{
        width: 38.2%;
    }
    .skill_heading__line{
        width: 70%;
    }
    .per-skill_heading__line{
        width: 70%;
    } 
    .pro-skills__name,
    .per-skills__name{
        font-size: 7px;
        width: 45%;
    }
}


@media screen and (max-width:425px) and (min-width:375px) {
    .card{
        width: 75%;
    }
    .overview .heading__line{
        width: 70%;
    }
    .work_experience .experience_heading__line{
        width: 38%;
    }
    .skill_heading__line{
        width: 70%;
    }
    .per-skill_heading__line{
        width: 70%;
    }
    .pro-skills__name,
    .per-skills__name{
        font-size: 7px;
        width: 45%;
    }
}


@media screen and (max-width:530px) and (min-width:425px) {
    .card{
        width: 60%;
    }
    .pro-skills__name,
    .per-skills__name{
        font-size: 7px;
        width: 45%;
    }
    .overview .heading__line{
        width: 68%;
    }
    .work_experience .experience_heading__line{
        width: 49%;
    }
    .skill_heading__line{
        width: 65.7%;
    }
    .per-skill_heading__line{
        width: 66%;
    }
}


@media screen and (max-width:600px) and (min-width:531px) {
    .card{
        width: 50%;
    }
    .pro-skills__name,
    .per-skills__name{
        font-size: 7px;
        width: 45%;
    }
    .overview .heading__line{
        width: 68%;
    }
    .work_experience .experience_heading__line{
        width: 49%;
    }
    .skill_heading__line{
        width: 65.7%;
    }
    .per-skill_heading__line{
        width: 66%;
    }
}


@media screen and (max-width:768px) and (min-width:600px) {
    .card{
        width: 45%;
    }
    .pro-skills__name,
    .per-skills__name{
        font-size: 7px;
        width: 45%;
    }
    .overview .heading__line{
        width: 68%;
    }
    .work_experience .experience_heading__line{
        width: 51.3%;
    }
    .skill_heading__line{
        width: 67.5%;
    }
    .per-skill_heading__line{
        width: 68%;
    }
}


@media screen and (max-width:1024px) and (min-width:768px){
    .card{
        width: 80%;
    }
    .container-dark__name{
        font-size: 18px;
        margin-top: -4.8rem;
    }
    .container-dark__name p{
        font-size: 9px;
    }
    .pro-skills__name,
    .per-skills__name{
        font-size: 8px;
    }
    .overview .heading__line{
        width: 75%;
    }
    .work_experience .experience_heading__line{
        width: 65%;
    }
    .skill_heading__line{
        width: 76.5%;
    }
    .per-skill_heading__line{
        width: 77%;
    }
}


@media screen and (max-width:1440px) and (min-width:1024px){
    .card{
        width: 65%;
    }
    .container-dark__name{
        font-size: 18px;
        margin-top: -4.8rem;
    }
    .container-dark__name p{
        font-size: 9px;
    }
    .pro-skills__name,
    .per-skills__name{
        font-size: 8px;
    }
    .overview .heading__line{
        width: 78%;
    }
    .work_experience .experience_heading__line{
        width: 70%;
    }
    .skill_heading__line{
        width: 80%;
    }
    .per-skill_heading__line{
        width: 80.4%;
    }
}


@media screen and (max-width:2560px) and (min-width:1440px){
    .card{
        width: 40%;
    }
    .container-dark__name{
        font-size: 18px;
        margin-top: -4.8rem;
    }
    .container-dark__name p{
        font-size: 9px;
    }
    .pro-skills__name,
    .per-skills__name{
        font-size: 9px;
    }
    .overview .heading__line{
        width: 80%;
    }
    .work_experience .experience_heading__line{
        width: 73%;
    }
    .skill_heading__line{
        width: 82.2%;
    }
    .per-skill_heading__line{
        width: 82.4%;
    }
}
